.about{
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
    background-color: beige;
}
body{
    margin: 0;
}
.vid{
    width: 400px;
    height: 250px;
    margin-left: 460px;
}
.image{
    padding-left: 40px;
    width: 300px;
    height: 300px;
    margin: 5px;
    transition: border-radius;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    
}

.image:hover {
   width: 315px;
   height: 315px;
   transform: scaleX(1);
   border-radius: 80px;

  
}
.social-icons{
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-left: 20px;
}
.fot{
    padding: 20px;
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgb(75, 73, 73);
    margin: 0;
}
h2{
    color: rgb(0, 81, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
h2:hover{
    font-size: 30px;
    color: orangered;
}
table{
    text-align: center;
    margin: auto;
}

td{
    padding: 10px;
    
}
.home{
    display: inline;
    background-color: #eee;
    padding: 16px;
    text-decoration: none;
    float: right;
    position: relative;
    top: -8px;
}
.home:link{
    color: rgb(10, 10, 10);
    font-size: 24px;
}
.home:visited{
    color: rgb(44, 43, 43);
    font-size: 24px;
}
.home:hover{
    color: rgb(48, 2, 2);
    font-size: 26px;
    font-weight: bolder;
}
.home:active{
    color: rgb(3, 236, 15);
}
.label{
    background-color: rgb(22, 22, 240);
    color: snow;
    width: 100px;
    padding: 5px 5px;
}
.label:hover{
    color: rgb(6, 21, 230);
    background-color:rgb(192, 250, 247) ;
}
.linkedin{
       background-color: rgb(85, 83, 236);
       color: rgb(216, 207, 192);
       width: 100px;
       padding: 5px 5px;
}
.linkedin:hover{
    color: rgb(71, 74, 236);
    background-color: rgb(149, 225, 248);
}
.git{
    background-color: rgb(29, 29, 29);
    color: rgb(177, 179, 180);
    width: 100px;
    padding: 5px 5px;
}
.git:hover{
    color: rgb(223, 139, 30);
    background-color: rgb(252, 252, 157);
}
.home:active{
    color: magenta;
}
.header{
    background-color:#eee;
    padding: 20px;
    font-weight: bolder;
    font-size: 20px;
}
button{
    color: snow;
    border: none;
    cursor: pointer;
}
#logo{
    color:rgb(19, 105, 235);
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: bolder;
    font-family: 'Italianno', cursive;
    position: relative;
    right: 8px;
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
@keyframes logo {
    0%{
        color: rgb(253, 2, 2);
        position: relative;
        right: -5px;
    }
    100%{
        color:rgb(19, 105, 235);
        position: relative;
        right: 8px;
    }
}
