.home{
    display: inline;
    background-color: #eee;
    padding: 16px;
}
body{
    margin: 0;
}
.mak{
    background-color: rgb(164, 255, 137);
    color: rgb(210, 30, 30);
    font-weight: bolder;
    width: 55%;
    
}
#index {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}
.social-icons{
    width: 30px;
    height: 27px;
    padding-left: 300px;
    cursor: pointer;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.social-icons:hover{
    height:34px ;
}

.header{

    background-color:#eee;
    padding: 20px;
    font-weight: bolder;
    font-size: 20px;
}
.fot{
    padding: 20px;
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgb(75, 73, 73);
    margin: 0;
}
#foods{
    padding-top:10%;
    justify-content: center;
    width: 70%;
    height: 460px;
    border: 0px dotted black;
    overflow: scroll;
    padding-left:30% ;
}
#index ul{
    list-style-type: none;
}
img{
    width: 510px;
    height: 470px;
}
