.home{
    display: inline;
    background-color: #eee;
    padding: 16px;
    text-decoration: none;
    float: right;
    position: relative;
    top: -8px;
}
.home:link{
    color: rgb(10, 10, 10);
    font-size: 24px;
}
.home:visited{
    color: rgb(44, 43, 43);
    font-size: 24px;
}
.home:hover{
    color: rgb(48, 2, 2);
    font-size: 26px;
    font-weight: bolder;
}
.home:active{
    color: rgb(3, 236, 15);
}
body{
    margin: 0;
}
.mak{
    background-color: rgb(164, 255, 137);
    color: rgb(210, 30, 30);
    font-weight: bolder;
    width: 55%;
    
}
#index {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}
.social-icons{
    width: 30px;
    height: 27px;
    padding-left: 20px;
    cursor: pointer;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-in;

}
.social-icons:hover{
    height:34px ;
}

.header{

    background-color:#eee;
    padding: 15px;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 0px 2px 5px gray;

}
.fot{
    padding: 20px;
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgb(75, 73, 73);
    margin: 0;
}
#foods{
    padding-top:10%;
    justify-content: center;
    width: 70%;
    height: 460px;
    border: 0px dotted black;
    overflow: scroll;
    padding-left:30% ;
}
#index ul{
    list-style-type: none;
}
img{
    width: 510px;
    height: 470px;
}
.label{
    background-color: rgb(22, 22, 240);
    width: 100px;
    padding: 5px 5px;
}
.linkedin{
       background-color: rgb(85, 83, 236);
       width: 100px;
       padding: 5px 5px;
}
.label:hover{
    color: rgb(6, 21, 230);
    background-color:rgb(192, 250, 247) ;
}
.linkedin:hover{
    color: rgb(71, 74, 236);
    background-color: rgb(149, 225, 248);
}
.git:hover{
    color: rgb(223, 139, 30);
    background-color: rgb(252, 252, 157);
}
.git{
    background-color: rgb(29, 29, 29);
    width: 100px;
    padding: 5px 5px;
}
button{
    color: snow;
    border: none;
    cursor: pointer;
}
#logo{
    color:rgb(19, 105, 235);
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: bolder;
    font-family: 'Italianno', cursive;
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
@keyframes logo {
    0%{
        color: rgb(253, 2, 2);
        position: relative;
        right: -5px;
    }
    100%{
        color:rgb(19, 105, 235);
        position: relative;
        right: 8px;
    }
}

